:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --primary-text-title-color-theme-light: #757575;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #000000;
  --accent-color: #2196F3;
  --accent-color-submit: #188CE8;
  --trnsition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.subskrib-form__submit, .social-footer__link, .social__link, .uslugi__list, .clients__link, .detailes__link, .mail-tel, .modal-form__submit, .backdrop__button, .uslugi-button__list, .hat__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: 0px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo__dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.logo__light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.underline::after {
  content: "";
  width: auto;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hat__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  transition: color var(--trnsition-dur-and-func), background-color var(--trnsition-dur-and-func);
}
.hat__button:hover, .hat__button:focus {
  background-color: #188CE8;
  color: var(--primary-text-color-theme-dark);
}

.uslugi__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: #F5F4FA;
  color: var(--primary-text-color-theme-light);
  transition: color var(--trnsition-dur-and-func), background var(--trnsition-dur-and-func), box-shadow var(--trnsition-dur-and-func);
}
.uslugi__button:focus, .uslugi__button:hover {
  color: var(--primary-text-color-theme-dark);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.uslugi-button__list {
  margin-bottom: 50px;
}

.uslugi-button__item:not(:last-child) {
  padding-right: 8px;
}

.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.backdrop__icon {
  transition: fill var(--trnsition-dur-and-func);
  fill: #000000;
}
.backdrop__button:hover .backdrop__icon, .backdrop__button:focus .backdrop__icon {
  fill: var(--accent-color);
}

.backdrop__p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color-theme-light);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--trnsition-dur-and-func);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-form__wrapper {
  display: block;
  position: relative;
}

.modal-form__comment {
  resize: none;
  display: block;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trnsition-dur-and-func);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--trnsition-dur-and-func);
  fill: #212121;
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  transition: color var(--trnsition-dur-and-func), background-color var(--trnsition-dur-and-func);
}
.modal-form__submit:hover, .modal-form__submit:focus {
  background-color: var(--accent-color-submit);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  content: " ";
  cursor: pointer;
  margin-right: 7px;
}

.modal-form__check:checked + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
  background-image: url(../image/vector/form/v.svg);
  background-size: 12px 9px;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-form__check:focus + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}

.modal-form__link {
  color: var(--accent-color);
}

.menu {
  display: flex;
  width: 294px;
  height: 80px;
  padding-top: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 28px;
  color: var(--primary-text-color-theme-light);
  transition: color var(--trnsition-dur-and-func);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__item {
  display: flex;
  flex-direction: column;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.mail-tel {
  margin-left: auto;
}

.mail-tel__item:not(:last-child) {
  margin-right: 40px;
}

.detailes__link {
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border var(--trnsition-dur-and-func);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.social__list,
.social-footer__list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.uslugi__list {
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.hat__text {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.detailes__h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  color: var(--primary-text-color-theme-light);
}

.detailes__p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-title-color-theme-light);
}

.aktions__text,
.command__text,
.clients__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.aktions__p {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  color: var(--primary-text-color-theme-dark);
  background: rgba(47, 48, 58, 0.8);
}

.command-box__naime {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.command-box__p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-title-color-theme-light);
}

.uslugi__box {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.uslugi__bg {
  transition: box-shadow var(--trnsition-dur-and-func);
  width: 370px;
}
.uslugi__bg:hover, .uslugi__bg:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.uslugi__naime {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
}

.uslugi__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-title-color-theme-light);
}

.uslugi__box-overlay {
  position: relative;
  overflow: hidden;
}

.uslugi__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--trnsition-dur-and-func);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  background-color: rgba(33, 150, 243, 0.9);
}
.uslugi__link:hover .uslugi__overlay, .uslugi__link:focus .uslugi__overlay {
  transform: translate(0, 0);
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--trnsition-dur-and-func);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

.social-footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trnsition-dur-and-func);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: #ffffff;
}

.mail_icon {
  transition: fill var(--trnsition-dur-and-func);
  fill: #757575;
  margin-right: 10px;
}
.mail:hover .mail_icon, .mail:focus .mail_icon {
  fill: var(--accent-color);
}

.tel_icon {
  transition: fill var(--trnsition-dur-and-func);
  fill: #757575;
  margin-right: 10px;
}
.tel:hover .tel_icon, .tel:focus .tel_icon {
  fill: var(--accent-color);
}

.social__icon,
.clients__icon {
  transition: fill var(--trnsition-dur-and-func);
  fill: #afb1b8;
}

.detailes__icon {
  width: 70px;
  height: 70px;
}

.subskrib-form {
  display: flex;
}

.subskrib-form__field {
  margin-right: 12px;
}

.subskrib-form__input {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color-theme-dark);
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding: 12px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: #2F303A;
}
.subskrib-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subskrib-form__wrapper {
  display: flex;
  position: relative;
}

.subskrib-form__submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.subskrib-form__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  background: #FFFFFF;
}

.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-title-color-theme-light);
  transition: color var(--trnsition-dur-and-func);
}
.mail:hover, .mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.portfolio {
  background-color: #FFFFFF;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section1 {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/section1/bak.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section2,
.section4,
.section5 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section3 {
  padding-bottom: 94px;
}

.section4 {
  background-color: #F5F4FA;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.detailes__item {
  width: 270px;
}
.detailes__item:not(:last-child) {
  margin-right: 30px;
}

.aktions__item {
  position: relative;
}
.aktions__item:not(:last-child) {
  margin-right: 30px;
}

.command__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__item:not(:last-child) {
  margin-right: 30px;
}

.command-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  display: flex;
  justify-content: left;
}

.adres__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--trnsition-dur-and-func);
}
.adres__link:hover, .adres__link:focus {
  color: var(--accent-color);
}

.adres__list {
  margin-top: 20px;
}

.adres__mail,
.adres__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--trnsition-dur-and-func);
}
.adres__mail:hover, .adres__mail:focus,
.adres__tel:hover,
.adres__tel:focus {
  color: var(--accent-color);
}

.adres__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer__h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--primary-text-color-theme-dark);
}

.social-footer:first-child {
  margin-right: 70px;
}

.social-footer:last-child {
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform var(--trnsition-dur-and-func), opacity var(--trnsition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--trnsition-dur-and-func), opacity var(--trnsition-dur-and-func);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 40px;
  height: 581px;
  width: 528px;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */