.adres__item{
    text-align: center;

    &:not(:last-child){
        margin-bottom: 9px;
    }
}
.social-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &:not(:last-child){
        margin-bottom: 60px;
    }
    }
.footer-section {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
*
.contacts {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.social-footer__h3 {
    text-align: center;

    @include font(700, 14px, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    // padding-top: 15px;
    padding-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 480px) {
    
   
}

@media screen and (min-width: 768px) {
    .contacts {
        flex-direction: row;
        align-items: baseline;
    }
    .social-footer:first-child {
        margin-right: 165px;
    }
}

@media screen and (min-width: 1200px) {
    
    .contacts {
        justify-content: left;
    }
    .social-footer:not(:last-child) {
        margin-bottom: 0;
    }
    .social-footer:first-child {
        margin-right: 70px;
    }

    .social-footer:last-child {
        margin-left: auto;
    }
    .social-footer__h3,
    .adres__item {
        text-align: left;
    }
    
}
.adres__link {
   
    font-style: normal;
    
    @include font(400, 14px, 1.71);

    letter-spacing: 0.03em;

    color: var(--primary-text-color-theme-dark);
    transition: color var(--trnsition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.adres__list {
    margin-top: 20px;
}

.adres__mail,
.adres__tel {
    
    font-style: normal;
    
    @include font(400, 14px, 1.71);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    transition: color var(--trnsition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}





