.logo {
    font-family: var(--secondary-font);
    
    @include font(700, 24px, 1.17);
    letter-spacing: 0.03em;
    color: var(--accent-color);
   
    margin-top: 0px;
    margin-bottom: 0px;

}

@media screen and (min-width: 768px) {
    .logo {
        
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 1200px) {
    .logo{
        margin-right: 93px;
        @include font(700, 26px, 1.19);
    }
    .logo__dark,
    .logo__light {
        
        @include font(700, 26px, 1.19);
    }

}

.logo__dark {
    font-family: var(--secondary-font);
   
    @include font(700, 24px, 1.17);

    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

.logo__light {
    font-family: var(--secondary-font);
   
    @include font(700, 24px, 1.17);

    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}