.logo {
    font-family: var(--secondary-font);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    @include font(700, 26px, 1.19);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo__dark {
    font-family: var(--secondary-font);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    @include font(700, 26px, 1.19);

    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

.logo__light {
    font-family: var(--secondary-font);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    @include font(700, 26px, 1.19);

    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}