.detailes__link {
    @extend %align;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA
}
.detailes__list,
.clients__list{
    @extend %align;
    flex-wrap: wrap;
    gap: 30px;
}
.detailes__item {
    width: 450px; 
}

.clients__link {
    @extend %align;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: #ffffff;
    transition: border var(--trnsition-dur-and-func);

    &:hover,
    &:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }

    &:hover .clients__icon,
    &:focus .clients__icon {
        fill: var(--accent-color);
    }
}
.social__list,
.social-footer__list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .clients__list{
        flex-basis: calc((100% - 30px)/2);
    }
    .clients__link {
        width: 210px;
        height: 92px;
    }
}
@media screen and (min-width: 768px) {
    
    .clients__list {
        flex-basis: calc((100% - 30px)/3);
    }
    .clients__link {
        width: 226px;
        height: 92px;
    }
    .detailes__list {
        flex-basis: calc((100% - 30px)/2);
    }

    .detailes__item {
        width: 354px;

    }
    .detailes__item1{
        height: 247px;
    }

}


@media screen and (min-width: 1200px) {
    
    .detailes__item {
        width: 270px;
    }
    .clients__link {
        width: 170px;
        height: 92px;
    }
   
}